*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 500;
    margin-bottom: 16px;
}

.main-grid-container{
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: 50px auto 45px;
    grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
}

.box{
    border:solid 1px black
}

.header{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    grid-area:header;
    background-color: #25527b;
    color:white; 
}

.sidebar{
    padding:10px;
    grid-area:sidebar;
    background-color: #e7e7e7;
    display:flex;
    flex-direction: column;
    padding: 16px;
}
.main{
    grid-area:main;
    background-color: #e7e7e7;
    padding: 20px;
}

.footer{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    grid-area:footer
}

.sidebar a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.parentesis{
    color:gray;
}

.contenedor{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: space-between;
}

.card{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.info-producto{
    width: 100%;
    word-wrap:break-word;
    padding: 10px;
}

.info-producto img{
    width: 100%;
}

.boton-compra{
    width: 100%;
}

.boton {
    width: 100%;
    padding: 15px 20px;
    background-color: #25527b;
    color: white;
    border: none;
    cursor: pointer;
  }

.boton:hover {
    background-color: #577999;
  }
